.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.edit-eventmodal {
  display: inline-block;
  margin: 0 1rem;
}

a {
  color: white;
}

a:hover,
.card-footer a:hover {
  color: #fed22a;
  text-decoration: none;
}

.card-footer a {
  color: initial;
}

/* Bootstrap overrides */
.card {
  border-radius: 0 !important;
}

.card-header {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.card-body {
  padding: 1rem;
  white-space: pre-line;
}

.card-footer {
  background: none;
}

.jumbotron {
  background: none;
}

.jumbotron-fluid {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

.jumbotron-fluid > .container {
  min-height: calc(100vh);
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  padding-top: 1rem;
  font-size: 5rem;
}

.countdown-container {
  text-align: center;
}

.countdown-container > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 4rem;
}

.coming-soon {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 15px;
}

.counter-number {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.counter-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}

.medium-font {
  font-size: 2rem;
}

.smaller-font {
  font-size: 1.5rem;
}

.menossa-mukana br {
  line-height: 50%;
}

.menossa-mukana {
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-line;
}

.menossa-mukana > p {
  margin-top: 20px;
}

.video-component-container {
  background-color: #fed22a !important;
  margin: 0 !important;
}

.wappuvideo-container {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
}

.wappuvideo {
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 60px);
  height: 100%;
}

.header-class {
  background-image: url("./images/wappumakiedit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-container {
  background-color: #f4943f;
}

.guild-logo {
  max-height: 140px;
  margin-right: 10px;
}

.guild-logo-without-margin {
  max-height: 140px;
}

.social-media-link {
  font-weight: 600;
}

.social-media {
  max-height: 40px;
  display: inline !important;
  margin: 2px 5px;
}

.eventlist-container {
  font-family: "Poppins", sans-serif;
}

.eventlist-container b {
  font-weight: 600;
}

.wappu-counter-item {
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ohje-container p {
  white-space: pre-line;
  text-align: left;
}
.ohje-container {
  text-align: center;
}

.discord-button {
  background-color: #7289da;
  color: #ffffff;
  margin: 10px auto;
}

.link-highlight {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}

@media only screen and (max-width: 769px) {
  .counter-number {
    font-size: 4rem;
  }

  .jumbotron {
    padding: 0 !important;
  }

  .wappu-counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    padding-top: 1rem;
    font-size: 2rem;
  }

  .coming-soon {
    font-size: 2rem;
  }

  .medium-font {
    font-size: 1.5rem;
  }

  .wappuvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
