.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.edit-eventmodal {
  display: inline-block;
  margin: 0 1rem;
}

a {
  color: white;
}

/* DateTime picker styles */
.react-datetime-picker {
  display: block;
  padding: .375rem .75rem;
  border: thin solid #ced4da;
  border-radius: .25rem;
}

.react-datetime-picker__wrapper {
  border: none;
}

/* Bootstrap overrides */
.card-header {
  padding: .5rem 1rem;
  cursor: pointer;
}

.card-body {
  padding: 1rem;
}

.card-footer {
  background: none;
}

.jumbotron-fluid {
  background-image: url('./images/wappumakiedit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron-fluid > .container {
  min-height: 500px;
  margin: 50px auto;
  color: white;
}

.jumbotron-fluid > .container > h1 {
  padding-top: 1rem;
  font-size: 5rem;
}

.countdown-container {
  text-align: center;
}

.countdown-container > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 4rem;
}